/* css for Eliza */

body{
	background-color: purple;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;

}

p{	
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	color: white;
	text-align: center;
}

#madButton
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#finalMadLib {
	height: 500px;
	color: white;
	text-align: center;
	padding-left: 225px;
	padding-right: 225px;
	padding-top: 20px;
	font-size: 35px
}

.c{

	color: green;
	font-size: 50px;
	background-color: yellow;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;

}
